# Dependencies
node_modules/
__pycache__/
*.pyc

# Environment files
.env

# Python virtual environment
.venv/
venv/

# Transcription and temp data
chroma_db/
temp_data/

# Logs and OS artifacts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Editor directories
.vscode/

